#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #ffffff;
}
.h1{
  color: black;
}


body {
  background-image: url('bg.png');
  background-color: #ffffff;
  
  background-size: cover; /* Ensure the background image covers the entire body */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
}


.card
{
  border: 1px solid;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}
